@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

$text-color: #253150;
$text-color-dark: #11232D;
$accent: #2656D3;

* {
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    background-color: #E5E5E5;
    color: $text-color;
}

input,
button{
    &:active,
    &:focus {
        border: none;
        outline: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.search{
    &__icon{
        cursor: pointer;
        width: 40px;
        height: 40px;
        background: $text-color;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before{
            content: url('../icons/loupe.svg');
            width: 24px;
            height: 24px;
        }
        &:hover{
            background-color: #5A7FDD;
        }
        @media (max-width: 992px){
            margin-right: 20px;
        }
    }
}

main{
    min-height: 100vh;
    padding-top: 114px;
    @media (max-width: 1560px) {
        padding-top: 97px;
    }
    @media (max-width: 1200px) {
        padding-top: 80px;
    }
    @media (max-width: 992px) {
        padding-top: 0px;
    }
}

.title{
    color: $text-color;
    line-height: 130%;
    &--big{
        font-size: 72px;
    }
    &--l2{
        font-weight: bold;
        font-size: 48px;
    }
    &--l3{
        font-size: 36px;
        font-weight: bold;
    }
    &--l4{
        font-weight: 600;
        font-size: 21px;
    }
    &--small{
        color: #9298A7;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: normal;
    }
    @media (max-width: 1200px) {
        &--big{
            font-size: 60px;
        }
    }
    @media (max-width: 992px) {
        &--big {
            font-size: 50px;
        }
        &--l2 {
            font-size: 24px;
        }
        &--small {
           font-size: 13px;
        }
    }
    @media (max-width: 768px) {
        &--big{
            font-size: 30px;
            line-height: 41px;
        }
        &--l3{
            font-size: 24px;
        }
        &--l4 {
            font-size: 18px;
        }
    }
}

.btn{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    white-space: nowrap;
    background-color: $accent;
    color: #fff;
    border: none;
    letter-spacing: .06em;
    border-radius: 2px;
    &--big{
        padding: 25px 40px;
        max-width: 232px;
    }
    &:hover{
        background-color: #5A7FDD;
    }
    @media (max-width: 992px){
        font-size: 14px;
        max-width: 228px;
    }
    @media (max-width: 480px) {
        &--big{
            padding: 20px;
            width: 100%;
        }
    }
}

@import "./bootstrap";
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox';

@media (min-width: 1560px){
    .container{
        max-width: 1560px;
    }
}

a{
    color: $text-color;
    font-weight: normal;
    &:hover{
        text-decoration: none;
    }
}

.phone{
    &__link{
        font-size: 21px;
        font-weight: 600;
    }
}

.burger{
    display: block;
    width: 33px;
    height: 28px;
    span{
        display: block;
        height: 4px;
        width: 100%;
        background-color: $text-color;
        margin-bottom: 8px;
        transition: all .5s;
    }
    &--active{
        span{
            &:first-child {
                transform: translateY(13px) rotate(-45deg);
            } 
            &:nth-child(2) {
                display: none;
            }
            &:last-child {
                transform: translateY(1px) rotate(45deg);
            }
        }
    }
    @media (min-width: 992px){
        display: none;
    }
}


.menu{
    &__list{
        display: flex;
        list-style: none;
        position: relative;
        padding-left: 0;
        margin: 0;
        justify-content: space-between;
        transition: all 0.3s;
        &--sub{
            position: absolute;
            flex-direction: column;
            z-index: 1;
            bottom: -140px;
            left: 0;
            min-width: 362px;
            opacity: 0;
            box-shadow: 5px 5px 10px rgba(157, 165, 173, 0.2);
            @media (max-width: 1560px){
                bottom: -121px;
            }
            @media (max-width: 1200px){
                bottom: -109px;
            }
        }
    }
    &__item{
        font-family: 'Manrope', sans-serif;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        &--sub{
            text-transform: none;
            &:before{
                content: none;
            }
        }
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 5px;
        }
        &--active{
            left: 0;
            .menu--mobile{
                left: 0;
            }
            &:before{
                background-color: #2656D3;
            }
        }
    }
    &--mobile{
        transition: left 0.3s;
        position: absolute;
        height: 100vh;
        left: -100%;
        top: 70px;
        bottom: 0;
        width: 100%;
        background-color: $text-color;
    }
    &--mobile.menu--active{
        left: 0;
    }
}
.site-author{
    text-decoration: underline;
}


.slick{
    &-arrow{
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        height: 70px;
        width: 80px;
        border: none;
        background: #FFFFFF;
        box-shadow: 5px 5px 10px rgba(157, 165, 173, 0.2);
        &-blue{
            stroke: #2656D3;
        }
        &:hover{
            .slick-arrow-blue{
                stroke: #A7BFFF;
            }
        }
        &:focus,
        &:active{
            outline: none;
        }
    }
    &-prev{
        left: 0;
    }
    &-next{
        left: 80px;
    }
    &-dots {
        list-style: none;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        bottom: 0;
        margin: auto;
        width: 100%;
        max-height: 58px;
        padding: 10px 0;
        @media (max-width: 992px){
            top: 57%;
            transform: translateY(-20%);
            margin: 15px 0;
            max-height: 60px;
        }
        @media (max-width: 768px) {
            top: 40%;
            transform: translateY(-20%);
        }
        li{
            width: 15px;
            height: 15px;
            margin: 0 5px;
            border-radius: 100%;
            border: 2px solid #2656D3;
            background-color: transparent;
            &.slick-active{
                background-color: $accent;
            }
            @media (max-width: 992px) {
                width: 10px;
                height: 10px;
            }
        }
        button{
            opacity: 0;
        }
    }
}

.breadcrumbs{
    padding-top: 40px;
    padding-bottom: 26px;
    &__list{
        list-style: none;
        padding-left: 0;
        display: flex;
        margin: 0;
    }
    &__item{
        font-size: 14px;
        color: #9298A7;
        padding-right: 10px;
        display: flex;
        position: relative;
        &--active{
            text-decoration: underline;
        }
        &:after{
            content: '/';
            position: absolute;
            display: block;
            right: 3px;
        }
        &:last-child{
            &::after{
                content: none;
            }
        }
    }
    @media (max-width: 992px){
        padding-top: 30px;
        padding-bottom: 25px;
        &__item{
            font-size: 12px;
        }
    }
}

@import "../../node_modules/slick-carousel/slick/slick.scss";
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox';
@import 'blocks/header';
@import 'mainpage/promo';
@import 'mainpage/directions';
@import 'contacts/contacts';


@import 'blocks/footer';
.no-pseudo{
    &:before{
        content: none;
    }
    &:after{
        content: none;
    }
}